body {
  margin: 0;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul.gallery {
  max-width: 1440px;
  list-style: none;
  padding: 24px 0 24px 0;
  gap: 24px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc(100% / 3 - 24px * 5);
  height: 200px;
}

.gallery-link {
  display: block;
  text-decoration: none;
  max-width: 100%;
  max-height: 200px;
}

.gallery-image {
  max-height: 200px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-link {
  background-color: rgba(46, 47, 66, 0.8);
}
